{{> _headerDark}}
<div class="container-fluid py-4 py-lg-3 bg-op-8 bg-dark">
  <div class="row justify-content-md-center no-page-header">
    <div class="col-md-6">
      <h4>
        <span class="typewrite text-white" data-period="1000" data-type='[ "Hello, {{user.name}}.", "This is your Dashboard, All you need in one place","Add & Manage your resume", "Post job wanted request to EMPLOYER" ]'>
          <span class="wrap"></span>
        </span>
      </h4>
    </div>
  </div>
</div>

<div class="container-fluid py-4 py-lg-7 bg-light">
  <div class="container">
    <div id="msgs"></div>
    <div class="row ">
      <div class="tab-content py-3">
        <div class="tab-pane active show menu-tab-1" role="tabpanel">
          <div class="row justify-content-md-center text-center">
            <div class="col-lg-4 py-2 cursor" id="jobWanted">
              <i class="fas fa-bullhorn text-success icon-3x op-6"></i>
              <h5 class=" text-dark op-9 mt-2 mb-2"> New Challange
                <span class="text-danger op-9">?</span>
              </h5>
              <p class="text-lg mb-0">Looking for
                <span class="text-info">New Challange ?</span> make an announcement to
                <strong>Employers</strong> and show your Talent
                <i class="em em-muscle"></i>
              </p>
            </div>
            <div class="col-lg-4 py-2">
              {{#if resume}}
              <i class="fas fa-graduation-cap text-success icon-3x op-6"></i>
              <a href="/candidate-resume/manage-my-resume/{{resume.id}}">
                <h5 class="mt-2 text-capitalize">manage your resume</h5>
              </a>
              <p class="text-lg mb-0">Edit your resume information, experiences, educations, skills and more ...</p>
              {{else}}
              <i class="fas fa-graduation-cap text-success icon-3x op-6"></i>
              <a href="/candidate-resume/add">
                <h5 class="mt-2 text-capitalize">add your resume</h5>
              </a>
              <p class="text-lg mb-0">Add your resume information, experiences, educations, skills and more ...</p>
              {{/if}}
            </div>
            <div class="col-lg-4 py-2">
              <i class="fas fa-graduation-cap text-success icon-3x op-6"></i>
              <h5 class="mt-2">
                Tips & Resources
              </h5>
              <p class="text-lg mb-0">Abbas aliquam esse exputo nobis praesent saluto sino valde volutpat.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="new-job-wanted" id="jwanted">
      <div class="row justify-content-md-center">
        <div class="col-md-10">
          <div class="card bg-primary text-white text-center shadow-sm">
            <div class="card-header">
              <h5>Add Job Wanted Announcement
                <i class="fas fa-bullhorn text-white "></i>
              </h5>
            </div>
            <div class="card-body">
              <div class="p-3">
                <form method="post" action="/job-wanted" id="add-job-wanted">
                  <div class="form-group row">
                    <input type="text" class="form-control " placeholder="Title" name="title" required />
                  </div>
                  <div class="form-group row">
                    <textarea class="form-control" name="body" rows="4" required>{{resume.bio}}</textarea>
                  </div>
                  <div class="form-group row">
                    <input type="submit" class="btn btn-blue-dark btn-shadow" />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid py-4 py-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{#if jobSpecialisms}}
        <div>
          <h2 class="text-uppercase my-0 text-primary" id="dashboard-heading">Recent Matching Jobs</h2>
          <p class="text-sm text-dark mt-0">Recent 10 jobs matching your job category</p>
          <div class="bg-slate w-20 ml-1 mt-2 mb-5" style="height: 0.3rem;"></div>
          <div class="text-center" data-toggle="owl-carousel" data-owl-carousel-settings='{"items": 3, "lazyLoad":true, "nav":true, "dots":true}'>
            {{#each jobSpecialisms}}
            <a href="/jobs/{{this.handle}}">
              <img style="height: 40px; width: 40px;" data-src="{{company.logo}}" alt="Recent Jobs for Candidate" class="owl-lazy" />
              <h5 class="mt-4 text-uppercase text-primary op-9 font-weight-bold">{{this.title}} @
                <span class="text-pink">{{company.name}}</span>
              </h5>
              <p class="text-sm text-dark">{{{stripTags (truncate description 100)}}}</p>
              <small>
                <span class="text-pink">Posted on: </span>{{formatDate this.date 'DD MMMM YYYY'}}</small>
            </a>
            {{/each}}
          </div>
          <div class="float-right mt-5">
            <a class="text-pink btn btn-outline-dark" href="/jobs/my-maching-jobs">
              <i class="fas fa-glasses mr-2"></i>All Matching Jobs</a>
          </div>
        </div>
        {{else}}
        <h4 class="text-capitalize my-0 text-primary font-weight-bold">No Matching Jobs Found, Please add your resume and job category to view matching jobs</h4>
        {{/if}}
      </div>
    </div>
  </div>
</div>
<div class="overlay bg-grey-dark overlay-op-9 text-left py-5 pt-lg-7
 " data-animate="fadeIn" 
  data-bg-img="https://source.unsplash.com/collection/385548/1600X900" id="dashboard-find-job">
  <div class="container py-4 py-lg-7">
    <div class="row justify-content-center">
      <h2 class="display-4 text-white mb-3 text-left" data-animate="fadeIn" data-animate-delay="0.2">
        Find your
        <span class="font-weight-bold">dream job!</span>
      </h2>
      <div class="col-md-8">
        <form action="/jobs" method="GET" class="row mb-2 mt-3 w-auto pos-relative align-items-center ">
          <div class="col-md-9 mb-3">
            <input name="search" class="form-control form-control-lg text-center text-lg-left pl-lg-5" type="text"
              placeholder="Search by Job title ie. Web Developer">
            <hr class="hr-inverse hr-lg mx-auto mt-1 mb-0">
          </div>
          <div class="col-md-3">
            <input type="submit" value="Search" class="btn btn-dark btn-lg btn-rounded px-5">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid text-primary">
  <div class="container">
    <div class="col-md-12">
      <h2 class="text-uppercase my-0 text-primary" id="dashboard-heading">Applied Jobs</h2>
      <p class="text-sm text-dark mt-0">All recent jobs you have applied</p>
      <div class="bg-slate w-15 ml-1 mt-2 mb-5" style="height: 0.3rem;"></div>
      {{#if applications}}
      <table class="table bg-primary rounded mt-4 text-white">
        <thead>
          <tr class="text-center ">
            <th class="font-weight-bold" style="letter-spacing:1px">Job Title</th>
            <th class="font-weight-bold" style="letter-spacing:1px">Date</th>
            <th class="font-weight-bold" style="letter-spacing:1px">Application</th>
          </tr>
        </thead>
        <tbody>
          {{#each applications}}
          <tr class="text-center">
            <th scope="row">
              <h4>
                <a class="text-light font-weight-normal" id="application-title" href="/jobs/{{jobHandle}}">{{jobTitle}}</a>
              </h4>
            </th>
            <td class="text-light">{{formatDate this.date 'DD MMMM YYYY'}}</td>
            <td>
              <a class="text-light btn btn-blue-dark rounded" href="/jobs/{{jobHandle}}/application">View</a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{else}} No Applications {{/if}}
    </div>
  </div>
</div>