{{> _headerDark}}
<div class="container-fluid bg-light no-page-header" style="min-height: 100vh;">
  <div class="row">
    <div class="p-5 ">

    </div>
  </div>
  <div class="row">
    {{#each resumes}}
    <div class="col-sm-4 col-md-6 col-lg-4 col-xl-3 mb-1">
      <div class="media bg-white shadow-sm p-2">
        <img class="align-self-center rounded-circle mr-2" src="{{this.pictureUrl}}" style="width: 100px;height:100px;">
        <a style="position:absolute;" href="" class="btn btn-primary rounded btn-sm">View</a>
        <div class="media-body">
          <h5 class="media-heading text-gray d-inline">{{this.fullName}}</h5>
          <h6 class="text-primary">{{this.jobTitle}}</h6>
          <hr style="margin:8px auto">
          {{#if this.experiances}}
          <small>Worked @ </small>
          {{#each this.experiances}}
          <span class="badge badge-warning">{{this.company}}</span>
          {{/each}}
          {{/if}} <br>
          {{#if this.skills}}
          <small>Skills : </small>
          {{#each this.skills}}
          <span class="badge badge-info">{{this.name}}</span>
          {{/each}}
          {{/if}} <br>
          {{#if this.languages}}
          <small>Speaks : </small>
          {{#each this.languages}}
          <span class="badge badge-info">{{this.name}}</span>
          {{/each}}
          {{/if}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>