{{> _headerDark}}
<div class="container-fluid bg-dark no-page-header" id="resumes-top-nav">
  <div class="container">
    <div class="pt-3 pb-3 d-inline-block">
      <a class="text-grey d-inline-block m-2" data-toggle="collapse" href="#template" role="button" aria-expanded="false" aria-controls="template">
        <i class="em em-abcd mr-2"></i>Templates</a>
      <a class="text-grey m-2 d-inline-block" data-toggle="collapse" href="#coveringLetter" role="button" aria-expanded="false" aria-controls="coveringLetter">
        <i class="em em-memo mr-2"></i>Covering Letter</a>
      <a class="text-grey m-2 d-inline-block" data-toggle="collapse" href="#keyWords" role="button" aria-expanded="false" aria-controls="keyWords">
        <i class="em em-unlock mr-2"></i>Keywords</a>
    </div>
  </div>
</div>
<div class="container-fluid  bg-green-bright bg-op-5" >
  <div class="row justify-content-center collapse" id="template">
    <div class="col-md-8">
      <h4 class="mt-4 text-center">Change Resume Template</h4>
    </div>
  </div>
  <div class="row justify-content-center collapse" id="coveringLetter">
    <div class="col-md-8">
      <h4 class="mt-4 text-center">Add covering letter</h4>
    </div>
  </div>
  <div class="row justify-content-center collapse" id="keyWords">
    <div class="col-md-8">
      <h4 class="mt-4 text-center">Keywords</h4>
    </div>
  </div>
</div>
<div class="container-fluid pt-3" id="resumes">
  <div class="row justify-content-center">
    <div class="col-md-8" id="resume-lists">
      <div class="row">
        <div class="col-md-12">
          <div id="resume-messages" style="position: relative;float: right;"></div>
        </div>
      </div>
      {{#if resumeDefualt}}
      <div class="row bg-grey ">
        <div class="col-md-4 col-lg-3" id="resume-side">
          <div class="d-flex rounded-top">
            <img class="rounded-top" src="{{resume.picture}}" alt="">
          </div>
          <div class="resume-title ">
            <div class="top-line"></div>
            <div class="p-1 bg-blue-dark text-white text-center rounded-bottom">
              <h4 class="display-4" id="candidate-name">{{resume.fullName}}</h4>
              <h6 class="display-4" id="candidate-jobTitle">{{resume.jobTitle}}</h6>
            </div>
          </div>
          <br> {{!-- Skills Start --}}
          <div class="row no-gutters d-none d-md-flex d-lg-flex">
            <div class="col-3 col-sm-3 col-md-3 col-lg-3">
              <div class="bg-green-bright text-center" id="rounded2">
                <i class="fas fa-cogs icon-2x pt-4 pb-4"></i>
              </div>
            </div>
            <div class="col-9 col-sm-9 col-md-9 col-lg-9">
              <div class="bg-blue-dark text-center" id="rounded">
                <h5 class="display-4 text-white p-2" id="resume-profile">Skills</h5>
              </div>
            </div>
            {{#each resume.skills}}
            <span class="badge badge-success p-2 ml-2 mt-3">
              <h5></h5>{{this}}</span>
            {{/each}}
          </div>
          {{!-- Skills End --}}
        </div>
        <div class="col-md-8 col-lg-9">
          {{!-- Profile Start --}}
          <div class="row no-gutters">
            <div class="col-2 col-sm-2 col-md-2 col-lg-1">
              <div class="bg-green-bright text-center" id="rounded2">
                <i class="far fa-user icon-2x p-2"></i>
              </div>
            </div>
            <div class="col-10 col-sm-10 col-md-10 col-lg-11">
              <div class="bg-blue-dark text-center" id="rounded">
                <h5 class="display-4 text-white p-2" id="resume-profile">Profile</h5>
              </div>
            </div>
            <div class="text-grey-dark">
              <p>{{resume.bio}}</p>
            </div>
          </div>
          {{!-- Profile End --}} {{!-- Start of Experience --}}
          <div class="row no-gutters">
            <div class="col-2 col-sm-2 col-md-2 col-lg-1">
              <div class="bg-green-bright text-center exp-icon" id="rounded2">
                <i class="fas fa-briefcase icon-2x p-2"></i>
              </div>
            </div>
            <div class="col-10 col-sm-10 col-md-10 col-lg-11">
              <div class="bg-blue-dark text-center" id="rounded">
                <h4 class="display-4 text-white p-2" id="resume-experience">Experience</h4>
              </div>
              <button type="button" class="btn btn-primary btn-sm" id="add-exp-btn"> Add Experiance</button>
            </div>
          </div>
          {{!-- add Exp --}}
          <div class="row">
            <div class="col-md-12">
              <div id="experience">
                <div class="exp-new-area shadow bg-op-1 bg-blue-dark">
                  <div class="p-3">
                    <form method="post" action="/candidate-resume/experience" id="add-exp">
                      <div class="form-group row">
                        <div class="col-md-4">
                          <input type="text" class="form-control border-op-8 border-grey" placeholder="Job Title" name="title" required />
                        </div>
                        <div class="col-md-4">
                          <input type="text" class="form-control border-op-8 border-grey" placeholder="Company" name="company" required />
                        </div>
                        <div class="col-md-4">
                          <input type="text" class="form-control border-op-8 border-grey" placeholder="Location" name="location" />
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-5">
                          <h6>From Date</h6>
                          <input type="date" class="form-control border-op-8 border-grey" name="from" />
                        </div>
                        <div class="col-md-7">
                          <h6>To Date</h6>
                          <div class="row">
                            <div class="col-md-7 to-date-exp">
                              <input type="date" class="form-control border-op-8 border-grey" name="to" />
                            </div>
                            <div class="col-md-5 ">
                              <div class="form-check mb-4 mr-sm-4 mb-sm-2 mt-2">
                                <input class="form-check-input" type="checkbox" name="current" value="Till Now" id="current-exp" />
                                <label class="form-check-label" for="current">Current Job</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-12">
                          <textarea class="form-control border-op-8 border-grey" placeholder="Some of your responsabilities, Job description" name="description"></textarea>
                        </div>
                      </div>
                      <input type="submit" value="Save" class="btn btn-info" />
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{!-- end Add Exp --}} {{!-- Exp List Start --}}
          <ul class="list-group" id="exp-list">
            {{#each experiance}}
            <li class="list-group-item mt-3">
              {{!-- Edit - Update Form --}}
              <form method="POST" action="/candidate-resume/experience/{{this.id}}" class="edit-exp-form">
                <div class="form-group row">
                  <div class="col-md-4">
                    <input type="text" class="form-control border-op-8 border-grey" value="{{this.title}}" name="exper[title]" required />
                  </div>
                  <div class="col-md-4">
                    <input type="text" class="form-control border-op-8 border-grey" value="{{this.company}}" name="exper[company]" required />
                  </div>
                  <div class="col-md-4">
                    <input type="text" class="form-control border-op-8 border-grey" value="{{this.location}}" name="exper[location]" />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-5">
                    <h6>From Date</h6>
                    <input type="date" class="form-control border-op-8 border-grey" name="exper[from]" />
                  </div>
                  <div class="col-md-7">
                    <h6>To Date</h6>
                    <div class="row">
                      <div class="col-md-7 to-date-exp">
                        <input type="date" class="form-control border-op-8 border-grey" name="exper[to]" />
                      </div>
                      <div class="col-md-5 ">
                        <div class="form-check mb-4 mr-sm-4 mb-sm-2 mt-2">
                          <input class="form-check-input" type="checkbox" name="exper[current]" value="Till Now" id="current-exp-edit" />
                          <label class="form-check-label" for="current">Current Job</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <textarea class="form-control border-op-8 border-grey">{{this.description}}</textarea>
                  </div>
                </div>
                <input type="submit" value="Update" class="btn btn-info" />
              </form>
              {{!-- End of Edit Form --}}
              <div class="row mr-0 ml-0 mt-2 mb-2 bg-op-1 bg-op-5 bg-gradient">
                <div class="col-sm-9 col-md-8 col-lg-8">
                  <div class=" text-left pt-2 pb-2">
                    <h5>{{title}} @
                      <span class="text-blue  ">{{company}} - {{location}}</span>
                    </h5>
                  </div>
                </div>
                <div class="col-sm-3 col-md-4 col-lg-4">
                  <div class="float-right pt-2 pb-2">
                    {{#if this.to}}
                    <h6 class="text-green">{{formatDate this.from 'MMM YYYY'}} - {{formatDate this.to 'MMM YYYY'}}</h6>
                    {{else}}
                    <h6 class="text-green">{{formatDate this.from 'MMM YYYY'}} - {{ this.current}}</h6>
                    {{/if}}
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="text-grey-dark">
                    <p>{{this.description}}</p>
                  </div>
                </div>
              </div>
              <div class="">
                <button type="button" class="btn btn-outline-primary btn-sm edit-button">Edit</button>
                <form style="display: inline" method="POST" action="/candidate-resume/experience/{{this.id}}" class="delete-exp-form">
                  <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                </form>
              </div>
            </li>
            {{/each}}
          </ul>
          {{!-- Exp List End --}} {{!-- End of Experience --}} {{!-- Start of Education --}}
          <div class="row no-gutters">
            <div class="col-2 col-sm-2 col-md-2 col-lg-1">
              <div class="bg-green-bright text-center exp-icon" id="rounded2">
                <i class="fas fa-briefcase icon-2x p-2"></i>
              </div>
            </div>
            <div class="col-10 col-sm-10 col-md-10 col-lg-11">
              <div class="bg-blue-dark text-center" id="rounded">
                <h4 class="display-4 text-white p-2" id="resume-experience">Education
                  <span class="float-right">
                    <button type="button" class="btn btn-primary btn-sm" id="add-educ-btn"> Add Education</button>
                  </span>
                </h4>
              </div>
            </div>
          </div>
          {{!-- add Education --}}
          <div class="row">
            <div class="col-md-12">
              <div id="education">
                <div class="educ-new-area shadow bg-op-1 bg-blue-dark">
                  <div class="p-3">
                    <form method="post" action="/candidate-resume/education" id="add-educ">
                      <div class="form-group row">
                        <div class="col-md-3">
                          <input type="text" class="form-control border-op-8 border-grey" placeholder="School / collage" name="school" required />
                        </div>
                        <div class="col-md-3">
                          <input type="text" class="form-control border-op-8 border-grey" placeholder="Degree" name="degree" required />
                        </div>
                        <div class="col-md-3">
                          <input type="text" class="form-control border-op-8 border-grey" placeholder="Field of study" name="fieldofstudy" />
                        </div>
                        <div class="col-md-3">
                          <input type="text" class="form-control border-op-8 border-grey" placeholder="Location" name="location" />
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-5">
                          <h6>From Date</h6>
                          <input type="date" class="form-control border-op-8 border-grey" name="from" />
                        </div>
                        <div class="col-md-7">
                          <h6>To Date</h6>
                          <div class="row">
                            <div class="col-md-7 to-date-educ">
                              <input type="date" class="form-control border-op-8 border-grey" name="to" />
                            </div>
                            <div class="col-md-5 ">
                              <div class="form-check mb-4 mr-sm-4 mb-sm-2 mt-2">
                                <input class="form-check-input educ-check" type="checkbox" name="current" value="Till Now" id="current-educ" />
                                <label class="form-check-label" for="current">Current Job</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-12">
                          <textarea class="form-control border-op-8 border-grey" placeholder="Description" name="description"></textarea>
                        </div>
                      </div>
                      <input type="submit" value="Save" class="btn btn-info" />
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{!-- end Add Exp --}} {{!-- Exp List Start --}}
          <ul class="list-group" id="educ-list">
            {{#each education}}
            <li class="list-group-item mt-3">
              {{!-- Edit - Update Form --}}
              <form method="POST" action="/candidate-resume/education/{{this.id}}" class="edit-educ-form">
                <div class="form-group row">
                  <div class="col-md-3">
                    <input type="text" class="form-control border-op-8 border-grey" value="{{this.school}}" name="education[school]" required
                    />
                  </div>
                  <div class="col-md-3">
                    <input type="text" class="form-control border-op-8 border-grey" value="{{this.degree}}" name="education[degree]" required
                    />
                  </div>
                  <div class="col-md-3">
                    <input type="text" class="form-control border-op-8 border-grey" value="{{this.fieldofstudy}}" name="education[fieldofstudy]"
                    />
                  </div>
                  <div class="col-md-3">
                    <input type="text" class="form-control border-op-8 border-grey" value="{{this.location}}" name="education[location]" />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-5">
                    <h6>From Date</h6>
                    <input type="date" class="form-control border-op-8 border-grey" name="education[from]" />
                  </div>
                  <div class="col-md-7">
                    <h6>To Date</h6>
                    <div class="row">
                      <div class="col-md-7 to-date-educ-edit">
                        <input type="date" class="form-control border-op-8 border-grey" name="education[to]" />
                      </div>
                      <div class="col-md-5 ">
                        <div class="form-check mb-4 mr-sm-4 mb-sm-2 mt-2">
                          <input class="form-check-input" type="checkbox" name="education[current]" value="Till Now" id="current-educ-edit" />
                          <label class="form-check-label" for="current">Current Job</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <textarea class="form-control border-op-8 border-grey">{{this.description}}</textarea>
                  </div>
                </div>
                <input type="submit" value="Update" class="btn btn-info" />
              </form>
              {{!-- End of Edit Form --}}
              <div class="row mr-0 ml-0 mt-2 mb-2 bg-op-1 bg-op-5 bg-gradient">
                <div class="col-sm-9 col-md-8 col-lg-8">
                  <div class=" text-left pt-2 pb-2">
                    <h5>{{school}}
                      <span class="text-blue  ">{{degree}} - {{fieldofstudy}}- {{location}}</span>
                    </h5>
                  </div>
                </div>
                <div class="col-sm-3 col-md-4 col-lg-4">
                  <div class="float-right pt-2 pb-2">
                    {{#if this.to}}
                    <h6 class="text-green">{{formatDate this.from 'MMM YYYY'}} - {{formatDate this.to 'MMM YYYY'}}</h6>
                    {{else}}
                    <h6 class="text-green">{{formatDate this.from 'MMM YYYY'}} - {{ this.current}}</h6>
                    {{/if}}
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="text-grey-dark">
                    <p>{{this.description}}</p>
                  </div>
                </div>
              </div>
              <div class="">
                <button type="button" class="btn btn-outline-primary btn-sm edit-educ-button">Edit</button>
                <form style="display: inline" method="POST" action="/candidate-resume/education/{{this.id}}" class="delete-educ-form">
                  <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                </form>
              </div>
            </li>
            {{/each}}
          </ul>

          {{!-- end of Education --}}
        </div>
      </div>
      {{else}}
      <div class="row pt-3">
        <div class="col-md-4 col-lg-3" id="resume-side">
          <ul class="list-group  pt-2 pb-2" id="edit-basic-pic-resume">
            <li class="list-group-item bg-warning bg-op-7" id="basic-info-resume-pic-edit">
              <form method="post" action="/candidate-resume/{{resume.id}}" class="basic-info-resume-pic-form p-2" enctype="multipart/form-data">
                <div class="form-group text-center mt-2">
                  <input type="file" name="picture" id="">
                </div>
                <input type="submit" value="Upload" class="btn btn-success" />
                <input type="button" value="Cancel" class="btn btn-secondary cxl-pic-resume" />
              </form>
            </li>
            <li class="list-group-item" id="basic-info-resume-pic-area">
              <div class="text-grey-dark">
                <img class="rounded" src="{{resume.pictureUrl}}" alt="">
              </div>
              <button class="btn btn-outline-primary edit-basic-pic-btn">Edit</button>
            </li>
          </ul>
        </div>
        <div class="col-md-8 col-lg-9">
          <ul class="list-group  pt-2 pb-2" id="edit-basic-resume">
            <li class="list-group-item bg-light" id="basic-info-resume-area-edit">
              <form method="post" action="/candidate-resume/{{resume.id}}" class="basic-info-resume-form p-2">
                <div class="form-group text-center">
                  <input class="border-op-8 border-grey display-4" type="text" name="resume[fullName]" value="{{resume.fullName}}">
                </div>
                <div class="form-group text-center">
                  <input class="border-op-8 border-grey display-4 text-muted" type="text" name="resume[jobTitle]" value="{{resume.jobTitle}}">
                </div>
                <div class="form-group row text-center">
                  <div class="col-md-4">
                    <i class="fas fa-map-marker-alt text-muted mr-2"></i>
                    <input class="border-op-8 border-grey text-muted" type="text" name="resume[location]" value="{{resume.location}}">
                  </div>
                  <div class="col-md-4">
                    <i class="fas fa-phone-square text-muted mr-2"></i>
                    <input class="border-op-8 border-grey text-muted" type="text" name="resume[contactNumber]" value="{{resume.contactNumber}}">
                  </div>
                  <div class="col-md-4">
                    <i class="fas fa-at text-muted mr-2"></i>
                    <input class="border-op-8 border-grey text-muted" type="text" name="resume[email]" value="{{resume.email}}">
                  </div>
                </div>
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" class="btn btn-warning cxl-basic-resume-info" />
              </form>
            </li>
            <li class="list-group-item" id="basic-info-resume-area">
              <div class="resume-title mb-3">
                <div class="pt-5 text-center rounded-bottom">
                  <h3 class="display-3 text-dark mb-2">
                    <strong>{{resume.fullName}}</strong>
                  </h3>
                  <h6 class="display-4 text-muted">{{resume.jobTitle}}</h6>
                </div>
              </div>
              <div class=" row justify-content-center">
                <i class="fas fa-map-marker-alt text-muted"></i>
                <p class="ml-1 text-muted">{{resume.location}}</p>
                <i class="fas fa-phone-square text-muted ml-3"></i>
                <p class="ml-1 text-muted">{{resume.contactNumber}}</p>
                <i class="fas fa-at text-muted ml-3"></i>
                <p class="ml-1 text-muted">{{resume.email}}</p>
              </div>
              <button class="btn btn-outline-primary edit-basic-btn">Edit</button>
            </li>
          </ul>
        </div>
        {{!-- Profile Start --}}
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div id="resume-about-messages" style="position: relative;float: right;"></div>
            </div>
          </div>
          <div class="p-3">
            <ul class="list-group  pt-2 pb-2" id="edit-basic-about-resume">
              <li class="list-group-item bg-warning bg-op-7" id="basic-info-resume-about-edit">
                <form method="post" action="/candidate-resume/{{resume.id}}" class="basic-info-resume-about-form p-2">
                  <h4 class="text-blue-dark display-4" id="resume-heading">About</h4>
                  <div class="under-heading text-blue"></div>
                  <div class="form-group text-center mt-2">
                    <textarea class="w-100" name="resume[bio]" rows="5">{{resume.bio}}</textarea>
                  </div>
                  <input type="submit" value="Save" class="btn btn-success" />
                  <input type="button" value="Cancel" class="btn btn-secondary cxl-about-resume" />
                </form>
              </li>
              <li class="list-group-item" id="basic-info-resume-about-area">
                <div class="text-grey-dark mt-3">
                  <h4 class="text-blue-dark display-4" id="resume-heading">About</h4>
                  <div class="under-heading text-blue"></div>
                  <p>{{resume.bio}}</p>
                </div>
                <button class="btn btn-outline-primary edit-basic-about-btn">Edit</button>
              </li>
            </ul>
          </div>
        </div>
        {{!-- Profile End --}} {{!-- Start of Experience --}}
        <div class="col-md-12 bg-op-1 bg-green">
          <div class="row justify-content-between">
            <div class="col-md-12">
              <div id="exp-msg"></div>
            </div>
            <div class="col-md-8">
              <div class="text-left rounded p-3">
                <h4 class="text-blue-dark display-4" id="resume-heading">Experience</h4>
                <div class="under-heading text-blue "></div>
              </div>
            </div>
            <div class="col-md-4">
              <button type="button" class="btn btn-purple btn-lg btn-shadow mt-3" id="add-exp-btn"> Add Experiance</button>
            </div>
          </div>
          {{!-- add Exp --}}
          <div class="col-md-12">
            <div id="experience">
              <div class="exp-new-area shadow bg-op-5 bg-purple m-3">
                <div class="p-3">
                  <form method="post" action="/candidate-resume/experience" id="add-exp">
                    <div class="form-group row">
                      <div class="col-md-4">
                        <input type="text" class="form-control border-op-8 border-grey" placeholder="Job Title" name="title" required />
                      </div>
                      <div class="col-md-4">
                        <input type="text" class="form-control border-op-8 border-grey" placeholder="Company" name="company" required />
                      </div>
                      <div class="col-md-4">
                        <input type="text" class="form-control border-op-8 border-grey" placeholder="Location" name="location" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-5">
                        <h6>From Date</h6>
                        <input type="date" class="form-control border-op-8 border-grey" name="from" />
                      </div>
                      <div class="col-md-7">
                        <h6>To Date</h6>
                        <div class="row">
                          <div class="col-md-7 to-date-exp">
                            <input type="date" class="form-control border-op-8 border-grey" name="to" />
                          </div>
                          <div class="col-md-5 ">
                            <div class="form-check mb-4 mr-sm-4 mb-sm-2 mt-2">
                              <input class="form-check-input" type="checkbox" name="current" value="Till Now" id="current-exp" />
                              <label class="form-check-label" for="current">Current Job</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-12">
                        <textarea class="form-control border-op-8 border-grey" placeholder="Some of your responsabilities, Job description" name="description"></textarea>
                      </div>
                    </div>
                    <input type="submit" value="Save" class="btn btn-success" />
                    <input type="button" value="Cancel" class="btn btn-warning exp-cxl-add-btn" />
                  </form>
                </div>
              </div>
            </div>
          </div>
          {{!-- end Add Exp --}} {{!-- Exp List Start --}}
          <ul class="list-group p-3" id="exp-list">
            {{#each experiance}}
            <li class="list-group-item">
              <div class="row m-2">
                <div class="col-sm-9 col-md-8 col-lg-8">
                  <div class=" text-left pt-2 pb-2">
                    <h5>{{title}} @
                      <span class="text-blue  ">{{company}} - {{location}}</span>
                    </h5>
                  </div>
                </div>
                <div class="col-sm-3 col-md-4 col-lg-4">
                  <div class="float-right pt-2 pb-2">
                    {{#if this.to}}
                    <h6 class="text-green">{{formatDate this.from 'MMM YYYY'}} - {{formatDate this.to 'MMM YYYY'}}</h6>
                    {{else}}
                    <h6 class="text-green">{{formatDate this.from 'MMM YYYY'}} - {{ this.current}}</h6>
                    {{/if}}
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="text-grey-dark">
                    <p>{{this.description}}</p>
                  </div>
                </div>
              </div>
              <div class="m-4">
                <button type="button" class="btn btn-outline-primary btn-sm edit-button">Edit</button>
                <form style="display: inline" method="POST" action="/candidate-resume/experience/{{this.id}}" class="delete-exp-form">
                  <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                </form>
              </div>
              {{!-- Edit - Update Form --}}
              <form method="POST" action="/candidate-resume/experience/{{this.id}}" class="edit-exp-form p-4 bg-op-5 bg-lime rounded m-2">
                <div class="form-group row">
                  <div class="col-md-4">
                    <input type="text" class="form-control border-op-8 border-grey" value="{{this.title}}" name="exper[title]" required />
                  </div>
                  <div class="col-md-4">
                    <input type="text" class="form-control border-op-8 border-grey" value="{{this.company}}" name="exper[company]" required />
                  </div>
                  <div class="col-md-4">
                    <input type="text" class="form-control border-op-8 border-grey" value="{{this.location}}" name="exper[location]" />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-5">
                    <h6>From Date</h6>
                    <input type="date" class="form-control border-op-8 border-grey" name="exper[from]" />
                  </div>
                  <div class="col-md-7">
                    <h6>To Date</h6>
                    <div class="row">
                      <div class="col-md-7 to-date-exp">
                        <input type="date" class="form-control border-op-8 border-grey" name="exper[to]" />
                      </div>
                      <div class="col-md-5 ">
                        <div class="form-check mb-4 mr-sm-4 mb-sm-2 mt-2">
                          <input class="form-check-input" type="checkbox" name="exper[current]" value="Till Now" id="current-exp-edit" />
                          <label class="form-check-label" for="current">Current Job</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <textarea class="form-control border-op-8 border-grey">{{this.description}}</textarea>
                  </div>
                </div>
                <input type="submit" value="Update" class="btn btn-success" />
                <input type="button" value="cancel" class="btn btn-warning exp-cxl-edit-btn" />
              </form>
              {{!-- End of Edit Form --}}
            </li>
            {{/each}}
          </ul>
          {{!-- Exp List End --}}
        </div>
        {{!-- End of Experience --}} {{!-- Start of Education --}}
        <div class="col-md-12 bg-op-1 bg-green">
          <div class="row justify-content-between">
            <div class="col-md-12">
              <div id="educ-msg"></div>
            </div>
            <div class="col-md-8">
              <div class="text-left rounded p-3">
                <h4 class="text-blue-dark display-4" id="resume-heading">Education</h4>
                <div class="under-heading text-blue "></div>
              </div>
            </div>
            <div class="col-md-4">
              <button type="button" class="btn btn-purple btn-lg btn-shadow mt-3" id="add-educ-btn">Add Education</button>
            </div>
          </div>
          {{!-- add Education --}}
          <div class="col-md-12">
            <div id="education">
              <div class="educ-new-area shadow bg-op-5 bg-purple m-3 rounded">
                <div class="p-3">
                  <form method="post" action="/candidate-resume/education" id="add-educ">
                    <div class="form-group row">
                      <div class="col-md-3">
                        <input type="text" class="form-control border-op-8 border-grey" placeholder="School / Collage" name="school" required />
                      </div>
                      <div class="col-md-3">
                        <input type="text" class="form-control border-op-8 border-grey" placeholder="Degree" name="degree" required />
                      </div>
                      <div class="col-md-3">
                        <input type="text" class="form-control border-op-8 border-grey" placeholder="field of study" name="fieldofstudy" />
                      </div>
                      <div class="col-md-3">
                        <input type="text" class="form-control border-op-8 border-grey" placeholder="Location" name="location" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-5">
                        <h6>From Date</h6>
                        <input type="date" class="form-control border-op-8 border-grey" name="from" />
                      </div>
                      <div class="col-md-7">
                        <h6>To Date</h6>
                        <div class="row">
                          <div class="col-md-7 to-date-exp">
                            <input type="date" class="form-control border-op-8 border-grey" name="to" />
                          </div>
                          <div class="col-md-5 ">
                            <div class="form-check mb-4 mr-sm-4 mb-sm-2 mt-2">
                              <input class="form-check-input" type="checkbox" name="current" value="Till Now" id="current-educ" />
                              <label class="form-check-label" for="current">Current Job</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-12">
                        <textarea class="form-control border-op-8 border-grey" placeholder="Description" name="description"></textarea>
                      </div>
                    </div>
                    <input type="submit" value="Save" class="btn btn-success" />
                    <input type="button" value="Cancel" class="btn btn-warning educ-cxl-add-btn" />
                  </form>
                </div>
              </div>
            </div>
          </div>
          {{!-- end Add Education --}} {{!-- Education List Start --}}
          <ul class="list-group" id="educ-list">
            {{#each education}}
            <li class="list-group-item p-2">
              <div class="row m-2">
                <div class="col-sm-9 col-md-8 col-lg-8">
                  <div class=" text-left pt-2 pb-2">
                    <h5>{{school}}-
                      <span class="text-blue"> {{degree}} Degree - {{fieldofstudy}} - {{location}}</span>
                    </h5>
                  </div>
                </div>
                <div class="col-sm-3 col-md-4 col-lg-4">
                  <div class="float-right pt-2 pb-2">
                    {{#if this.to}}
                    <h6 class="text-green">{{formatDate this.from 'MMM YYYY'}} - {{formatDate this.to 'MMM YYYY'}}</h6>
                    {{else}}
                    <h6 class="text-green">{{formatDate this.from 'MMM YYYY'}} - {{ this.current}}</h6>
                    {{/if}}
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="text-grey-dark">
                    <p>{{this.description}}</p>
                  </div>
                </div>
              </div>
              <div class="m-4">
                <button type="button" class="btn btn-outline-primary btn-sm edit-educ-button">Edit</button>
                <form style="display: inline" method="POST" action="/candidate-resume/education/{{this.id}}" class="delete-educ-form">
                  <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                </form>
              </div>
              {{!-- Edit - Update Form --}}
              <form method="POST" action="/candidate-resume/education/{{this.id}}" class="edit-educ-form p-4 bg-op-5 bg-lime rounded m-2">
                <div class="form-group row">
                  <div class="col-md-3">
                    <input type="text" class="form-control border-op-8 border-grey" value="{{this.school}}" name="education[school]" required
                    />
                  </div>
                  <div class="col-md-3">
                    <input type="text" class="form-control border-op-8 border-grey" value="{{this.degree}}" name="education[degree]" required
                    />
                  </div>
                  <div class="col-md-3">
                    <input type="text" class="form-control border-op-8 border-grey" value="{{this.fieldofstudy}}" name="education[fieldofstudy]"
                    />
                  </div>
                  <div class="col-md-3">
                    <input type="text" class="form-control border-op-8 border-grey" value="{{this.location}}" name="education[location]" />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-5">
                    <h6>From Date</h6>
                    <input type="date" class="form-control border-op-8 border-grey" name="education[from]" />
                  </div>
                  <div class="col-md-7">
                    <h6>To Date</h6>
                    <div class="row">
                      <div class="col-md-7 to-date-exp">
                        <input type="date" class="form-control border-op-8 border-grey" name="education[to]" />
                      </div>
                      <div class="col-md-5 ">
                        <div class="form-check mb-4 mr-sm-4 mb-sm-2 mt-2">
                          <input class="form-check-input" type="checkbox" name="education[current]" value="Till Now" id="current-educ" />
                          <label class="form-check-label" for="current">Current Study</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <textarea class="form-control border-op-8 border-grey">{{this.description}}</textarea>
                  </div>
                </div>
                <input type="submit" value="Update" class="btn btn-success" />
                <input type="button" value="cancel" class="btn btn-warning educ-cxl-edit-btn" />
              </form>
              {{!-- End of Edit Form --}}
            </li>
            {{/each}}
          </ul>
          {{!-- Exp List End --}}
        </div>{{!-- end of Education --}} {{/if}}
      </div>
    </div>
  </div>
</div>