{{> _headerDark}}
<div class="no-page-header d-print-none"></div>
{{#if employer}}
<div class="container">
  <div id="save-resume">
    <form action="candidate-resume/{{resumes.handle}}/save-resume" method="post" class="save-resume-form d-print-none">
      <button type="submit" id="saveResume" class="fabutton-resume-list">
        <i class="fa fa-heart icon-1x text-muted"></i>
      </button>
    </form>
  </div>
</div>
{{/if}}
{{#if resumeDefualt}}
<div class="container">
  <div class="row justify-content-between pt-3">
    <div class="col-md-12" id="resume-side">
      <ul class="list-group" id="edit-basic-pic-resume">
        <li class="list-group-item" id="basic-info-resume-pic-area">
          <img class="rounded-circle mx-auto d-block" src="{{resumes.pictureUrl}}" alt="" style="width:150px; height: 150px;">
        </li>
      </ul>
    </div>
    <div class="col-md-12">
      <ul class="list-group " id="edit-basic-resume">
        <li class="list-group-item" id="basic-info-resume-area">
          <div class="resume-title">
            <div class="text-center rounded-bottom">
              <h3 class="display-3 text-dark mb-2">
                <strong>{{resumes.fullName}}</strong>
              </h3>
              <h6 class="display-4 text-muted text-capitalize">{{resumes.jobTitle}}</h6>
            </div>
          </div>
          <div class=" row justify-content-center">
            <i class="fas fa-map-marker-alt text-muted"></i>
            <p class="ml-1 text-muted">{{resumes.location}}</p>
            <i class="fas fa-phone-square text-muted ml-3"></i>
            <p class="ml-1 text-muted">{{resumes.contactNumber}}</p>
            <i class="fas fa-at text-muted ml-3"></i>
            <p class="ml-1 text-muted">{{resumes.email}}</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="bg-blue w-70 rounded mx-auto d-block shadow" style="height: 0.1rem"></div>

    {{!-- Profile Start --}}
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div id="resume-about-messages" style="position: relative;float: right;"></div>
        </div>
        <ul class="list-group  pt-2 pb-2" id="edit-basic-about-resume">
          <li class="list-group-item" id="basic-info-resume-about-area">
            <div class="text-grey-dark mt-3">
              <h4 class="text-blue-dark display-4" id="resume-heading"><i class="fa-baseline fas fa-info-circle icon-1x"></i>
                About Me</h4>
              <div class="under-heading text-blue mb-2"></div>
              <p class="text-sm">{{{resumes.bio}}}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    {{!-- Profile End --}}
    <div class="row">
      <div class="col-md-8">
        {{!-- Start of Experience --}}
        {{#if resumes.experiances}}
        <div class="col-md-12 bg-op-1 bg-primary rounded pb-3">
          <div class="row justify-content-between">
            <div class="col-md-12">
              <div id="exp-msg"></div>
            </div>
            <div class="col-md-8">
              <div class="text-left rounded mb-2 mt-3">
                <h4 class="text-blue-dark display-4" id="resume-heading"><i class="fa-baseline fas fa-suitcase icon-1x"></i>
                  Experience</h4>
                <div class="under-heading text-blue rounded"></div>
              </div>
            </div>
          </div>
          {{!-- Exp List Start --}}
          <ul class="list-group" id="exp-list">
            {{#each resumes.experiances}}
            <li class="list-group-item">
              <div class="row m-2">
                <div class="col-sm-9 col-md-8 col-lg-8">
                  <div class=" text-left pt-2 pb-2">
                    <h5>{{title}} @
                      <span class="text-blue  ">{{company}} - {{location}}</span>
                    </h5>
                  </div>
                </div>
                <div class="col-sm-3 col-md-4 col-lg-4">
                  <div class="float-right pt-2 pb-2">
                    {{#if this.to}}
                    <h6 class="text-green">{{formatDate this.from 'MMM YYYY'}} - {{formatDate this.to 'MMM YYYY'}}</h6>
                    {{else}}
                    <h6 class="text-green">{{formatDate this.from 'MMM YYYY'}} - {{ this.current}}</h6>
                    {{/if}}
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="text-grey-dark">
                    <p class="text-sm">{{this.description}}</p>
                  </div>
                </div>
              </div>
            </li>
            {{/each}}
          </ul>
          {{!-- Exp List End --}}
        </div>
        {{/if}}
        {{!-- End of Experience --}} {{!-- Start of Education --}}
        {{#if resumes.educations}}
        <div class="col-md-12 bg-op-1 bg-primary rounded pb-3  mt-2">
          <div class="row justify-content-between">
            <div class="col-md-12">
              <div id="educ-msg"></div>
            </div>
            <div class="col-md-8">
              <div class="text-left rounded mb-2 mt-3">
                <h4 class="text-blue-dark display-4" id="resume-heading"><i class="fa-baseline fas fa-graduation-cap icon-1x"></i>
                  Education</h4>
                <div class="under-heading text-blue rounded "></div>
              </div>
            </div>
          </div>
          {{!-- Education List Start --}}
          <ul class="list-group" id="educ-list">
            {{#each resumes.educations}}
            <li class="list-group-item p-2">
              <div class="row m-2">
                <div class="col-sm-9 col-md-8 col-lg-8">
                  <div class=" text-left pt-2 pb-2">
                    <h5>{{school}}-
                      <span class="text-blue"> {{degree}} Degree - {{fieldofstudy}} - {{location}}</span>
                    </h5>
                  </div>
                </div>
                <div class="col-sm-3 col-md-4 col-lg-4">
                  <div class="float-right pt-2 pb-2">
                    {{#if this.to}}
                    <h6 class="text-green">{{formatDate this.from 'MMM YYYY'}} - {{formatDate this.to 'MMM YYYY'}}</h6>
                    {{else}}
                    <h6 class="text-green">{{formatDate this.from 'MMM YYYY'}} - {{ this.current}}</h6>
                    {{/if}}
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="text-grey-dark">
                    <p class="text-sm">{{this.description}}</p>
                  </div>
                </div>
              </div>
            </li>
            {{/each}}
          </ul>
          {{!-- Exp List End --}}
        </div>{{!-- end of Education --}}
        {{/if}}
      </div>
      <div class="col-md-4">
        {{!-- Start of Lang --}}
        {{#if resumes.languages}}
        <div class="col-md-12 bg-op-1 bg-primary rounded pb-3">
          <div class="row justify-content-between">
            <div class="col-md-8">
              <div class="text-left rounded mb-2 mt-2">
                <h4 class="text-blue-dark display-4" id="resume-heading"><i class="fa-baseline fas fa-globe icon-1x"></i>
                  Languages</h4>
                <div class="under-heading text-blue rounded"></div>
              </div>
            </div>
          </div>
          <div class="row">
            {{!-- add Lang --}}
            <div class="col-md-12">
              <ul class="list-group" id="lang-list">
                {{#each resumes.languages}}
                <li class="mb-0 list-group-item p-2">
                  <h6 class="text-blue">{{this.name}}<span class="badge badge-pill badge-info text-capitalize ml-2 p-1">{{this.level}}</span></h6>
                </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
        {{/if}}
        {{!-- End of Lang --}}
        {{!-- Start of Skills --}}
        {{#if resumes.skills}}
        <div class="col-md-12 bg-op-1 bg-primary rounded pb-3 mt-2">
          <div class="row justify-content-between">
            <div class="col-md-8">
              <div class="text-left rounded mt-2 mb-2">
                <h4 class="text-blue-dark display-4" id="resume-heading"><i class="fa-baseline fas fa-cogs icon-1x"></i>
                  Skills</h4>
                <div class="under-heading text-blue"></div>
              </div>
            </div>
          </div>
          <div class="row">
            {{!-- add Skills --}}
            <div class="col-md-12">
              <ul class="list-group" id="skills-list">
                {{#each resumes.skills}}
                <li class="mb-0 list-group-item p-2">
                  <div class="progress progress-info bg-white">
                    <span class="font-weight-bold w-30 text-capitalize text-blue">{{this.name}}</span>
                    <span class="w-60">
                      <div class="progress-bar bg-info w-{{this.level}}" role="progressbar" aria-valuenow="{{this.level}}"
                        aria-valuemin="0" aria-valuemax="100">{{this.level}}% </div>
                    </span>
                  </div>
                </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
        {{/if}}
        {{!-- End of Skills --}}
        {{!-- Start of Awards --}}
        {{#if resumes.awards}}
        <div class="col-md-12 bg-op-1 bg-primary rounded pb-3 mt-2">
          <div class="row justify-content-between">
            <div class="col-md-12">
              <div class="w-100" id="award-msg"></div>
            </div>
            <div class="col-md-8">
              <div class="text-left rounded mt-2 mb-2">
                <h4 class="text-blue-dark display-4" id="resume-heading"><i class="fa-baseline fas fa-award icon-1x"></i>
                  Awards</h4>
                <div class="under-heading text-blue "></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <ul class="list-group" id="awards-list">
                {{#each resumes.awards}}
                <li class="mb-1 rounded list-group-item p-2">
                  <h5>{{name}} @
                    <span class="text-blue">{{awarder}} / {{this.awardedOn}}</span>
                  </h5>
                  <p class="mb-0 text-sm">{{this.summary}}</p>
                </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
        {{/if}}
        {{!-- End of awards --}}
      </div>
    </div>
  </div>
</div>
{{/if}}
{{#if resumeSimple}}
<div class="container">
  <div class="row pt-3">
    <div class="col-md-2 col-lg-2" id="resume-side">
      <ul class="list-group  pt-2 pb-2" id="edit-basic-pic-resume">
        <li class="list-group-item" id="basic-info-resume-pic-area">
          <div class="text-grey-dark">
            <img class="rounded" src="{{resumes.pictureUrl}}" alt="">
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-10 col-lg-10">
      <ul class="list-group  pt-2 pb-2" id="edit-basic-resume">
        <li class="list-group-item" id="basic-info-resume-area">
          <div class="resume-title mb-3">
            <div class="pt-5 text-center rounded-bottom">
              <h3 class="display-3 text-dark mb-2">
                <strong>{{resumes.fullName}}</strong>
              </h3>
              <h6 class="display-4 text-muted">{{resumes.jobTitle}}</h6>
            </div>
          </div>
          <div class=" row justify-content-center">
            <i class="fas fa-map-marker-alt text-muted"></i>
            <p class="ml-1 text-muted">{{resumes.location}}</p>
            <i class="fas fa-phone-square text-muted ml-3"></i>
            <p class="ml-1 text-muted">{{resumes.contactNumber}}</p>
            <i class="fas fa-at text-muted ml-3"></i>
            <p class="ml-1 text-muted">{{resumes.email}}</p>
          </div>
        </li>
      </ul>
    </div>
    {{!-- Profile Start --}}
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div id="resume-about-messages" style="position: relative;float: right;"></div>
        </div>
        <ul class="list-group  pt-2 pb-2" id="edit-basic-about-resume">
          <li class="list-group-item" id="basic-info-resume-about-area">
            <div class="text-grey-dark mt-3">
              <h4 class="text-blue-dark display-4" id="resume-heading"><i class="fa-baseline fas fa-info-circle icon-1x"></i>
                About Me</h4>
              <div class="under-heading text-blue mb-2"></div>
              <p class="text-sm">{{{resumes.bio}}}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    {{!-- Profile End --}} {{!-- Start of Experience --}}
    {{#if resumes.experiances}}
    <div class="col-md-12 bg-op-1 bg-green rounded pb-3 mt-2">
      <div class="row justify-content-between">
        <div class="col-md-12">
        </div>
        <div class="col-md-8">
          <div class="text-left text-left rounded mb-2 mt-2">
            <h4 class="text-blue-dark display-4" id="resume-heading"><i class="fa-baseline fas fa-suitcase icon-1x"></i>
              Experience</h4>
            <div class="under-heading text-blue "></div>
          </div>
        </div>
      </div>
      {{!-- end Add Exp --}} {{!-- Exp List Start --}}
      <ul class="list-group" id="exp-list">
        {{#each resumes.experiances}}
        <li class="list-group-item">
          <div class="row p-1">
            <div class="col-sm-9 col-md-8 col-lg-8">
              <div class=" text-left pt-2 pb-2">
                <h5>{{title}} @
                  <span class="text-blue  ">{{company}} - {{location}}</span>
                </h5>
              </div>
            </div>
            <div class="col-sm-3 col-md-4 col-lg-4">
              <div class="float-right pt-2 pb-2">
                {{#if this.to}}
                <h6 class="text-green">{{formatDate this.from 'MMM YYYY'}} - {{formatDate this.to 'MMM YYYY'}}</h6>
                {{else}}
                <h6 class="text-green">{{formatDate this.from 'MMM YYYY'}} - {{ this.current}}</h6>
                {{/if}}
              </div>
            </div>
            <div class="col-md-12">
              <div class="text-grey-dark">
                <p class="text-sm">{{this.description}}</p>
              </div>
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
      {{!-- Exp List End --}}
    </div>
    {{/if}}
    {{!-- End of Experience --}} {{!-- Start of Education --}}
    {{#if resumes.educations}}
    <div class="col-md-12 bg-op-1 bg-green rounded pb-3 mt-2">
      <div class="row justify-content-between">
        <div class="col-md-8">
          <div class="text-left rounded mb-2 mt-2">
            <h4 class="text-blue-dark display-4" id="resume-heading"><i class="fa-baseline fas fa-graduation-cap icon-1x"></i>
              Education</h4>
            <div class="under-heading text-blue "></div>
          </div>
        </div>
      </div>
      {{!-- Education List Start --}}
      <ul class="list-group" id="educ-list">
        {{#each resumes.educations}}
        <li class="list-group-item p-2">
          <div class="row p-1">
            <div class="col-sm-9 col-md-8 col-lg-8">
              <div class=" text-left pt-2 pb-2">
                <h5>{{school}}-
                  <span class="text-blue"> {{degree}} Degree - {{fieldofstudy}} - {{location}}</span>
                </h5>
              </div>
            </div>
            <div class="col-sm-3 col-md-4 col-lg-4">
              <div class="float-right pt-2 pb-2">
                {{#if this.to}}
                <h6 class="text-green">{{formatDate this.from 'MMM YYYY'}} - {{formatDate this.to 'MMM YYYY'}}</h6>
                {{else}}
                <h6 class="text-green">{{formatDate this.from 'MMM YYYY'}} - {{ this.current}}</h6>
                {{/if}}
              </div>
            </div>
            <div class="col-md-12">
              <div class="text-grey-dark">
                <p class="text-sm">{{this.description}}</p>
              </div>
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
      {{!-- Exp List End --}}
    </div>
    {{/if}}
    {{!-- end of Education --}}
    {{#if resumes.languages}}
    <div class="col-md-12 bg-op-1 bg-primary rounded pb-3 mt-2">
      <div class="row justify-content-between">
        <div class="col-md-8">
          <div class="text-left rounded mb-2 mt-2">
            <h4 class="text-blue-dark display-4" id="resume-heading"><i class="fa-baseline fas fa-globe icon-1x"></i>
              Languages</h4>
            <div class="under-heading text-blue rounded"></div>
          </div>
        </div>
      </div>
      <div class="row">
        {{!-- add Lang --}}
        <div class="col-md-12">
          <ul class="list-group" id="lang-list">
            {{#each resumes.languages}}
            <li class="mb-0 list-group-item p-3">
              <h6 class="text-blue">{{this.name}}<span class="badge badge-pill badge-info text-capitalize ml-2 p-1">{{this.level}}</span></h6>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    {{/if}}
    {{!-- End of Lang --}}
    {{!-- Start of Skills --}}
    {{#if resumes.skills}}
    <div class="col-md-12 bg-op-1 bg-primary rounded pb-3 mt-2">
      <div class="row justify-content-between">
        <div class="col-md-8">
          <div class="text-left rounded mt-2 mb-2">
            <h4 class="text-blue-dark display-4" id="resume-heading"><i class="fa-baseline fas fa-cogs icon-1x"></i>
              Skills</h4>
            <div class="under-heading text-blue"></div>
          </div>
        </div>
      </div>
      <div class="row">
        {{!-- add Skills --}}
        <div class="col-md-12">
          <ul class="list-group" id="skills-list">
            {{#each resumes.skills}}
            <li class="mb-0 list-group-item p-3">
              <div class="progress progress-info bg-white">
                <span class="font-weight-bold w-10 text-capitalize text-blue">{{this.name}}</span>
                <span class="w-70">
                  <div class="progress-bar bg-info w-{{this.level}}" role="progressbar" aria-valuenow="{{this.level}}"
                    aria-valuemin="0" aria-valuemax="100">{{this.level}}% </div>
                </span>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    {{/if}}
    {{!-- End of Skills --}}
    {{!-- Start of Awards --}}
    {{#if resumes.awards}}
    <div class="col-md-12 bg-op-1 bg-primary rounded pb-3 mt-2">
      <div class="row justify-content-between">
        <div class="col-md-12">
          <div class="w-100" id="award-msg"></div>
        </div>
        <div class="col-md-8">
          <div class="text-left rounded mt-2 mb-2">
            <h4 class="text-blue-dark display-4" id="resume-heading"><i class="fa-baseline fas fa-award icon-1x"></i>
              Awards</h4>
            <div class="under-heading text-blue "></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="list-group" id="awards-list">
            {{#each resumes.awards}}
            <li class="mb-1 rounded list-group-item p-3">
              <h6>{{name}} @
                <span class="text-blue">{{awarder}} / {{this.awardedOn}}</span>
              </h6>
              <p class="mb-0 text-sm">{{this.summary}}</p>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    {{/if}}
    {{!-- End of awards --}}
  </div>
</div>
{{/if}}



{{!--
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div id="contact-me">
        <form method="post" action="/messages" class="message-form">
          <h4>Contact {{resumes.fullName}}</h4>
          <input type="hidden" name="userTo" value="{{resumes.user.id}}">
          <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
              <input name="title" type="text" class="form-control" required>
            </div>
          </div>
          <div class="form-group row ">
            <label for="body" class="col-sm-2 col-form-label">Message</label>
            <div class="col-sm-10">
              <textarea class="form-control" name="body" rows="2" id="editor" required></textarea>
            </div>
          </div>
          <input type="submit" value="Submit" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</div> --}}