{{> _headerDark}}
<div class="no-page-header"></div>
{{#if resumeDefualt}}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 col-lg-3" id="resume-side">
      <div class="d-flex rounded-top">
        <img class="rounded-top" src="{{resumes.picture}}" alt="">
      </div>
      <div class="resume-title ">
        <div class="top-line"></div>
        <div class="p-1 bg-blue-dark text-white text-center rounded-bottom">
          <h4 class="display-4" id="candidate-name">{{resumes.fullName}}</h4>
          <h6 class="display-4" id="candidate-jobTitle">{{resumes.jobTitle}}</h6>
        </div>
      </div>
      <br> {{!-- Skills Start --}} {{#if resumes.skills}}
      <div class="row no-gutters d-none d-md-flex d-lg-flex">
        <div class="col-3 col-sm-3 col-md-3 col-lg-3">
          <div class="bg-green-bright text-center" id="rounded2">
            <i class="fas fa-cogs icon-2x pt-4 pb-4"></i>
          </div>
        </div>
        <div class="col-9 col-sm-9 col-md-9 col-lg-9">
          <div class="bg-blue-dark text-center" id="rounded">
            <h5 class="display-4 text-white p-2" id="resume-profile">Skills</h5>
          </div>
        </div>
        {{#each resumes.skills}}
        <span class="badge badge-success p-2 ml-2 mt-3">
          <h5></h5>{{this}}</span>
        {{/each}}
      </div>
      {{/if}} {{!-- Skills End --}}
    </div>
    <div class="col-md-8 col-lg-9">
      {{!-- Profile Start --}}
      <div class="row no-gutters">
        <div class="col-2 col-sm-2 col-md-2 col-lg-1">
          <div class="bg-green-bright text-center" id="rounded2">
            <i class="far fa-user icon-2x p-2"></i>
          </div>
        </div>
        <div class="col-10 col-sm-10 col-md-10 col-lg-11">
          <div class="bg-blue-dark text-center" id="rounded">
            <h5 class="display-4 text-white p-2" id="resume-profile">Profile</h5>
          </div>
        </div>
        <div class="text-grey-dark">
          <p>{{resumes.bio}}</p>
        </div>
      </div>
      {{!-- Profile End --}} {{!-- Start of Experience --}} {{#if experiance}}
      <div class="row no-gutters">
        <div class="col-2 col-sm-2 col-md-2 col-lg-1">
          <div class="bg-green-bright text-center exp-icon" id="rounded2">
            <i class="fas fa-briefcase icon-2x p-2"></i>
          </div>
        </div>
        <div class="col-10 col-sm-10 col-md-10 col-lg-11">
          <div class="bg-blue-dark text-center" id="rounded">
            <h4 class="display-4 text-white p-2" id="resume-experience">Experience</h4>
          </div>
        </div>
        {{#each experiance}}
        <div class="row mr-0 ml-0 mt-2 mb-2 bg-op-1 bg-op-5 bg-gradient" id="rounded">
          <div class="col-sm-9 col-md-8 col-lg-8">
            <div class=" text-left pt-2 pb-2">
              <h5>{{title}} @
                <span class="text-blue  ">{{company}}</span>
              </h5>
            </div>
          </div>
          <div class="col-sm-3 col-md-4 col-lg-4">
            <div class="float-right pt-2 pb-2">
              {{#if this.to}}
              <h6 class="text-green">{{formatDate this.from 'MMM YYYY'}} - {{formatDate this.to 'MMM YYYY'}}</h6>
              {{else}}
              <h6 class="text-green">{{formatDate this.from 'MMM YYYY'}} - {{ this.current}}</h6>
              {{/if}}
            </div>
          </div>
          <div class="col-md-12">
            <div class="text-grey-dark">
              <p>{{this.description}}</p>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      {{/if}} {{!-- End of Experience --}} {{!-- Start of Education --}} {{#if education}}
      <div class="row no-gutters mt-2">
        <div class="col-2 col-sm-2 col-md-2 col-lg-1">
          <div class="bg-green-bright text-center exp-icon" id="rounded2">
            <i class="fas fa-graduation-cap icon-2x p-2"></i>
          </div>
        </div>
        <div class="col-10 col-sm-10 col-md-10 col-lg-11">
          <div class="bg-blue-dark text-center" id="rounded">
            <h4 class="display-4 text-white p-2" id="resume-experience">Education</h4>
          </div>
        </div>
        {{#each education}}
        <div class="row mr-0 ml-0 mt-2 mb-2 bg-op-1 bg-op-5 bg-gradient" id="rounded">
          <div class="col-sm-9 col-md-8 col-lg-8">
            <div class=" text-left pt-2 pb-2">
              <h5>{{school}}
                <span class="text-blue  ">-{{#if this.degree}} {{degree}} Degree - {{/if}} {{fieldofstudy}} - {{location}}</span>
              </h5>
            </div>
          </div>
          <div class="col-sm-3 col-md-4 col-lg-4">
            <div class="float-right pt-2 pb-2">
              {{#if this.to}}
              <h6 class="text-green">{{formatDate this.from 'MMM YYYY'}} - {{formatDate this.to 'MMM YYYY'}}</h6>
              {{else}}
              <h6 class="text-green">{{formatDate this.from 'MMM YYYY'}} - {{ this.current}}</h6>
              {{/if}}
            </div>
          </div>
          <div class="col-md-12">
            <div class="text-grey-dark">
              <p>{{this.description}}</p>
            </div>
          </div>
        </div>
        {{/each}}
      </div>

      {{/if}} {{!-- End of Education --}}
    </div>
  </div>
</div>
{{else}}
<div class="container">
  <div class="row pt-3">
    <div class="col-md-2 col-lg-2" id="resume-side">
      <ul class="list-group  pt-2 pb-2" id="edit-basic-pic-resume">
        <li class="list-group-item" id="basic-info-resume-pic-area">
          <div class="text-grey-dark">
            <img class="rounded" src="{{resumes.pictureUrl}}" alt="">
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-10 col-lg-10">
      <ul class="list-group  pt-2 pb-2" id="edit-basic-resume">
        <li class="list-group-item" id="basic-info-resume-area">
          <div class="resume-title mb-3">
            <div class="pt-5 text-center rounded-bottom">
              <h3 class="display-3 text-dark mb-2">
                <strong>{{resumes.fullName}}</strong>
              </h3>
              <h6 class="display-4 text-muted">{{resumes.jobTitle}}</h6>
            </div>
          </div>
          <div class=" row justify-content-center">
            <i class="fas fa-map-marker-alt text-muted"></i>
            <p class="ml-1 text-muted">{{resumes.location}}</p>
            <i class="fas fa-phone-square text-muted ml-3"></i>
            <p class="ml-1 text-muted">{{resumes.contactNumber}}</p>
            <i class="fas fa-at text-muted ml-3"></i>
            <p class="ml-1 text-muted">{{resumes.email}}</p>
          </div>
        </li>
      </ul>
    </div>
    {{!-- Profile Start --}}
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-group  pt-2 pb-2" id="edit-basic-about-resume">
            <li class="list-group-item" id="basic-info-resume-about-area">
              <div class="text-grey-dark mt-3">
                <h4 class="text-blue-dark display-4" id="resume-heading">About</h4>
                <div class="under-heading text-blue mb-2"></div>
                <p>{{{resumes.bio}}}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {{!-- Profile End --}} {{!-- Start of Experience --}}
    <div class="col-md-12 bg-op-1 bg-green">
      <div class="row justify-content-between">
        <div class="col-md-12">
        </div>
        <div class="col-md-8">
          <div class="text-left rounded p-3">
            <h4 class="text-blue-dark display-4" id="resume-heading">Experience</h4>
            <div class="under-heading text-blue "></div>
          </div>
        </div>
      </div>
      {{!-- end Add Exp --}} {{!-- Exp List Start --}}
      <ul class="list-group" id="exp-list">
        {{#each experiance}}
        <li class="list-group-item">
          <div class="row m-2">
            <div class="col-sm-9 col-md-8 col-lg-8">
              <div class=" text-left pt-2 pb-2">
                <h5>{{title}} @
                  <span class="text-blue  ">{{company}} - {{location}}</span>
                </h5>
              </div>
            </div>
            <div class="col-sm-3 col-md-4 col-lg-4">
              <div class="float-right pt-2 pb-2">
                {{#if this.to}}
                <h6 class="text-green">{{formatDate this.from 'MMM YYYY'}} - {{formatDate this.to 'MMM YYYY'}}</h6>
                {{else}}
                <h6 class="text-green">{{formatDate this.from 'MMM YYYY'}} - {{ this.current}}</h6>
                {{/if}}
              </div>
            </div>
            <div class="col-md-12">
              <div class="text-grey-dark">
                <p>{{this.description}}</p>
              </div>
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
      {{!-- Exp List End --}}
    </div>
    {{!-- End of Experience --}} {{!-- Start of Education --}}
    <div class="col-md-12 bg-op-1 bg-green">
      <div class="row justify-content-between">
        <div class="col-md-12">
          <div id="educ-msg"></div>
        </div>
        <div class="col-md-8">
          <div class="text-left rounded p-3">
            <h4 class="text-blue-dark display-4" id="resume-heading">Education</h4>
            <div class="under-heading text-blue "></div>
          </div>
        </div>
      </div>
      {{!-- Education List Start --}}
      <ul class="list-group" id="educ-list">
        {{#each education}}
        <li class="list-group-item p-2">
          <div class="row m-2">
            <div class="col-sm-9 col-md-8 col-lg-8">
              <div class=" text-left pt-2 pb-2">
                <h5>{{school}}-
                  <span class="text-blue"> {{degree}} Degree - {{fieldofstudy}} - {{location}}</span>
                </h5>
              </div>
            </div>
            <div class="col-sm-3 col-md-4 col-lg-4">
              <div class="float-right pt-2 pb-2">
                {{#if this.to}}
                <h6 class="text-green">{{formatDate this.from 'MMM YYYY'}} - {{formatDate this.to 'MMM YYYY'}}</h6>
                {{else}}
                <h6 class="text-green">{{formatDate this.from 'MMM YYYY'}} - {{ this.current}}</h6>
                {{/if}}
              </div>
            </div>
            <div class="col-md-12">
              <div class="text-grey-dark">
                <p>{{this.description}}</p>
              </div>
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
      {{!-- Exp List End --}}
    </div>{{!-- end of Education --}}
  </div>
</div>
{{/if}}