<h1>Job Seeker Resume</h1>
<div class="row">
  {{#each cvs}}
  <div class="col s12 m4">
    <div class="card horizontal">
      <div class="card-image">
        <h5 class="header">{{fullName}}</h5>
        <img src="{{photo}}" class="cv-image">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>{{description}}</p>
        </div>
        <div class="card-action">
          <a href="/cvs/show/{{userId}}">This is a link</a>
        </div>
      </div>
    </div>
  </div>



  {{else}}
  <p> No stories found</p>
  {{/each}}

</div>